body {
  display: grid;
  margin: 10%;
}

.parent>h4{
  border: 1px solid red;
  height: 20px;
  /* width: 140px; */
  text-align: center;
  background-color: rosybrown;
  color: aliceblue;
  border-radius: 8px;
}

